
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
  background: var(--bg);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor; /* inherit from parent element */
  text-decoration: none;
}

main {
  min-height: 1000px;
  padding: 2rem;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
  background: var(--bg-nav);
  color: var(--text);
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.toggleButton{
  cursor: pointer;
  transition: color 0.4s ease;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -1em;
}

/* Themes */

:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
}

.light {
  --bg: var(--gray0);
  --bg-nav: var(--gray1);
  --bg-dropdown: var(--gray0);
  --text: var(--gray6);
  --border-color: var(--blue);
}

.dark {
  --bg: var(--gray5);
  --bg-nav: var(--gray5);
  --bg-dropdown: var(--gray6);
  --text: var(--gray0);
  --border-color: var(--purple);
}
